@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* make the customizations */
$font-family-sans-serif:
        Nunito,
          // Safari for OS X and iOS (San Francisco)
        -apple-system,
          // Chrome < 56 for OS X (San Francisco)
        BlinkMacSystemFont,
          // Windows
        "Segoe UI",
          // Android
        "Roboto",
          // Basic web fallback
        "Helvetica Neue", Arial, sans-serif,
          // Emoji fonts
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$theme-colors: (
      "brand": #293880
);

$navbar-padding-x: 2rem;

@import "react-datepicker/dist/react-datepicker.css";
/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";

.datePicker {
  width: 100%;
  display: block !important;
}

.react-datepicker__input-container input {
  width: 100%;
}

.form-error-custrom{
  font-size: 0.8em;
}